In [1]:
import pandas as pd

a = pd.read_csv("D:\data_science\python_for_data_science\pandas\\fake_company.csv")     # q) why we add another \ before fake?

print(a)
print()
# x.groupby(["reference_column_that_need_to_be_followed_for_grouping"]["value_that_need_to_be_grouped_[sum]"].sum() -->  makes 
# the sum (due to sum()) of values that are grouped.
print(a.groupby(["Year"])["Salary"].sum())  # gives sum of salary of company spent on name(employee) in each year
print()
print(a.groupby(["Year"])["Salary"].mean()) # likewise, we can do other things like mean(),min(),max() etc...
print()
print(a.groupby(["Name"])["Salary"].sum())  # can find total expenditure spend by each person
print()
print(a.groupby(["Year","Department"])["Salary"].sum())  # in each year , each department's expenditure's sum will be given
print()
# Till now we did single operation(sum()) for multiple groups. Now, lets do multiple operation on single group.
# groups "department" and aggregates like mean & sum of "salary" & mean of "age". 
print(a.groupby(["Department"]).agg({"Salary":["sum","mean"],"Age":"mean"}))

   Year     Name Department  Age  Salary
0  1990    Alice         HR   25   50000
1  1990      Bob         RD   30   48000
2  1990  Charlie      Admin   45   55000
3  1991    Alice         HR   26   52000
4  1991      Bob         RD   31   50000
5  1991  Charlie      Admin   46   60000
6  1992    Alice      Admin   27   60000
7  1992      Bob         RD   32   52000
8  1992  Charlie      Admin   28   62000

Year
1990    153000
1991    162000
1992    174000
Name: Salary, dtype: int64

Year
1990    51000.0
1991    54000.0
1992    58000.0
Name: Salary, dtype: float64

Name
Alice      162000
Bob        150000
Charlie    177000
Name: Salary, dtype: int64

Year  Department
1990  Admin          55000
      HR             50000
      RD             48000
1991  Admin          60000
      HR             52000
      RD             50000
1992  Admin         122000
      RD             52000
Name: Salary, dtype: int64

            Salary            Age
               sum     mean  mean
Department
Admin       237000  59250.0  36.5
HR          102000  51000.0  25.5
RD          150000  50000.0  31.0